@font-face {
  font-family: "Gilroy";
  src: url(assets/fonts/Gilroy/Gilroy-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  font-family: inherit;
}

body {
  font-family: "Gilroy";
  background-color: #faf8f5;
  color: #192040;
}

li {
  list-style-type: none;
}
.header {
  padding: 20px 0px 0px 0px;
  border-bottom: 1px solid #ededf2;
  padding-bottom: 35px;
  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 1430px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  gap: 104px;
  align-items: center;
}

.header__left {
}

.header__right {
  display: flex;
  flex-direction: column;
}

.header__right form {
  position: relative;
}

.header__right input {
  width: 526px;
  padding: 15px 40px;
  border: 1px solid #ededf2;
  border-radius: 50px;
}

.header__right form::before {
  content: url(assets/img/glass.svg);
  position: absolute;
  top: 34%;
  left: 3%;
}

.header__right-top {
  display: flex;
  align-items: center;
  gap: 55px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ededf2;
}

.header__right-links {
}

.header__right-links p {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #828299;
  margin-bottom: 6px;
}

.header__right-social a:first-child {
  padding-right: 5px;
}

.header__right-links {
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
}

.small {
  font-size: 18px;
  line-height: 130%;
}

.responsive-links {
  display: none;
}

.header__right-bot {
}

.header__right-navigation {
}

.header__navigation-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__navigation-list li a {
  color: #192040;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
}

.header__navigation-list li:first-child {
  padding: 15px 30px;
  background: #ff2e51;
  border-radius: 50px;
}

.header__navigation-list .custom {
  color: #fff;
  font-weight: 600;
}

.main {
  padding-top: 30px;
  background: #faf8f5;
  margin-bottom: 80px;
}

.swiper {
  width: 100%;
  height: 600px;
}

.swiper-slide {
  border-radius: 30px;
  padding-left: 120px;
  background: linear-gradient(
      0deg,
      rgba(23, 23, 38, 0.6),
      rgba(23, 23, 38, 0.6)
    ),
    url(assets/img/slider.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.swiper-slide h2 {
  max-width: 711px;
  font-weight: 600;
  font-size: 50px;
  line-height: 130%;
  color: #fff;
  margin-bottom: 20px;
}

.swiper-slide p {
  max-width: 710px;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
  margin-bottom: 50px;
}

.swiper-slide a {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  background: #ff2e51;
  border-radius: 50px;
  padding: 20px 60px;
  color: #fff;
}

.swiper-button-next:after {
  color: #fff;
}

.swiper-button-prev:after {
  color: #fff;
}

.swiper-scrollbar-drag {
  background: rgba(0, 0, 0, 0.5);
}
.swiper-scrollbar-horizontal {
  background-color: #fff;
  width: 35% !important;
  left: 30% !important;
}
.about {
  margin-bottom: 120px;
}

.about__inner {
  display: flex;
  gap: 130px;
}

.about__inner-left {
  flex-basis: 670px;
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
}

.about__inner-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-basis: 830px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.about__inner-right a {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  text-decoration-line: underline;
  color: inherit;
}

.cards {
  margin-bottom: 120px;
}

.cards__inner {
  display: flex;
  justify-content: space-between;

  gap: 10px;
}

.cards-item {
  display: flex;
  flex-basis: 350px;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 40px 40px;
  border: 2px solid #ffffff;
  border-radius: 30px;
  background-color: #fff;
}
.cards-item img {
  border-radius: 50%;
  margin-bottom: 50px;
}
.cards-item h3 {
  margin-bottom: 10px;
  max-width: 270px;
}
.cards-item p {
  max-width: 270px;
  color: #828299;
}

.services {
  margin-bottom: 120px;
}

.services__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.services__inner h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  margin-bottom: 20px;
}

.services__inner p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #828299;
  max-width: 710px;
  margin-bottom: 50px;
}
.service-cards__wraper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.services-cards {
  max-width: 350px;
  border: 2px solid #ffffff;
  border-radius: 30px;
  background: #fff;
}

.services-cards img {
  margin-bottom: 20px;
}

.services-cards h3 {
  margin-bottom: 10px;
}

.services-cards p {
  margin-bottom: 10px;
}

.services-cards a {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #ff2e51;
}

.cards-bot {
  padding: 0px 35px 40px 40px;
}

.products {
  margin-bottom: 105px;
}

.products__inner {
}

.products__inner h2 {
  margin-bottom: 50px;
}

.products__inner ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.products__inner li {
  background: #fffefc;
  border-radius: 50px;
  border: 2px solid #ededf2;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  padding: 15px 30px;
}

.products__inner li a {
  color: #828299;
}

.products__inner li:first-child {
  background: #ff2e51;
  border-radius: 50px;
}

.products__inner li:first-child a {
  color: #fff;
}

.products__card-wrapper {
  display: flex;
  justify-content: space-between;
}

.products__card {
  flex-basis: 350px;
  border-radius: 30px;
  background: radial-gradient(
      73.86% 25.61% at 0% 100%,
      rgba(255, 181, 61, 0.08) 0%,
      rgba(255, 181, 61, 0) 100%
    ),
    #fffefc;
}

.products__card-top {
  position: relative;
}

.products__card-top img {
  margin-bottom: 20px;
}

.products__card-top p {
  position: absolute;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #fff;
}
.red {
  top: 15px;
  left: 15px;
  background: linear-gradient(
    133.97deg,
    #ffcfe0 3.15%,
    #e96796 22.8%,
    #ef3c3c 85.51%
  );
  border-radius: 50px;
  padding: 8px 15px;
}

.pink {
  top: 15px;
  left: 88px;
  background: linear-gradient(
    133.97deg,
    #ffe9fe 3.15%,
    #e39ee0 22.8%,
    #b669b3 85.51%
  );
  border-radius: 50px;
  padding: 8px 15px;
}

.green {
  top: 15px;
  left: 209px;
  background: linear-gradient(
    133.97deg,
    #f2ffef 3.15%,
    #93c688 22.8%,
    #56824c 85.51%
  );
  border-radius: 50px;
  padding: 8px 15px;
}

.blue {
  background: linear-gradient(
    133.97deg,
    #c2ccff 3.15%,
    #465edb 22.8%,
    #3147ba 85.51%
  );
  border-radius: 50px;
  top: 15px;
  left: 15px;
  padding: 8px 15px;
}
.products__card-middle {
  padding: 0px 30px 20px 30px;
  border-bottom: 2px solid transparent;
}

.middle-price {
  display: flex;
  justify-content: space-between;
  color: #192040;
  margin-bottom: 5px;
}
.middle-price P {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.middle-price p:last-child {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
}

.middle-discount {
  display: flex;
  justify-content: space-between;
}
.middle-discount p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #828299;
}

.middle-discount p:last-child {
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  text-decoration: line-through;
}
.products__card-bot {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 0px 30px 20px 30px;
  display: none;
}

.products__card-middle:hover {
  border-bottom: 2px solid #ffffff;
  transition: 0.9s;
}

.products__card-middle:hover + .products__card-bot {
  display: flex;
  padding: 20px 30px;
}

.products__card-bot:hover {
  display: flex;
  padding: 20px 30px;
}

.products__card-bot a:first-child {
  color: #ffffff;
  padding: 15px 27px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  background: #ff2e51;
  border-radius: 50px;
}

.products__card-bot a:last-child {
  font-weight: 600;
  font-size: 18px;
  padding: 15px 7px;
  line-height: 130%;
  color: #192040;
  text-decoration: underline;
  background: transparent;
  border-radius: 0px;
}

.second .pink {
  top: 15px;
  left: 15px;
}

.second .green {
  top: 15px;
  left: 136px;
}

.third .green {
  top: 15px;
  left: 124px;
}

.fourth .green {
  top: 15px;
  left: 88px;
}
